/pubring.gpg
/secring.gpg
/settings.xml

*.iml

.*
_*

target/
pom.xml.tag
pom.xml.releaseBackup
versioneye.properties
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
